// 50px
.title-x {
  font-size: 50px;
  color: var(--ling-root);
  font-weight: 700;
}
// 40px
.title-m {
  font-size: 36px;
  color: var(--ling-root);
  font-weight: 700;
}
// 26px
.title-s {
  font-size: 26px;
  color: var(--ling-root);
  font-weight: 700;
}

.title-xs {
  font-size: 20px;
  color: var(--ling-root);
  font-weight: 700;
}
